body {
    background-color: #E5E5E5;
    height: 100%;
}

.container{
    min-height: 100%;
    
}
.headingH2{
    text-align: center;
    color: #463F3A;
    padding: 20px;
}

.one{
    background-color: red;
}
.card-body{
    background-color: #F4F3EE;
    height: 250px;
    border: 2px solid #F4F3EE;
    border-radius: 30px;
}
.col-sm{
    width: 100%;
}
.wrapper{
    background-color: #E5E5E5;
}